/* Empty. Add your own CSS if you like */

.mylist{
	margin-bottom: 0;
}

.mynote{
	float: right;
	font-size: 3em;
	line-height: normal;
}
.covernote{
	float: right;
	font-size: 3em;
	line-height: normal;
}
.fit-thumbnail{
	object-fit: cover;
	top:0 !important;
	max-height: 100% !important;
}
.item-image h2{
	color: white;
	font-size: 13em;
	position: absolute;
	top: 1em;
	/*top:auto;*/
	left: 0;
	width: 100%;
	/*background: rgb(0, 0, 0);
   	background: rgba(0, 0, 0, 0.7);*/
}
.card{
	margin-top: 10px;
}